<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="../../resources/pictures/logo.png" type="image/png">
    <link rel="stylesheet" href="../../resources/css/commonDesign.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="header :: header"></div>
<main>
    <div class="main-profile panel-default">
        <h1>Дорогие пользователи</h1>
        <p></p>
        <p></p>
        <p></p>
        <p class="sign"></p>
    </div>
</main>
<div th:replace="footer :: footer"></div>
</body>
</html>