<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">

    <link rel="shortcut icon" href="../../resources/pictures/logo.png" type="image/png">
    <link rel="stylesheet" href="../../resources/css/commonDesign.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<footer th:fragment="footer" class="footer-part">
    <nav class="footer-nav">
        <div class="part-of-footer"><p>С нами вы можете связаться по телефонам:</p></div>
        <div class="part-of-footer"><p><img class="tel" src="../../resources/pictures/velcom.png"> +375 29 257-17-05</p></div>
        <div class="part-of-footer"><p><img class="tel" src="../../resources/pictures/mts.png"> +375 33 342-14-93</p></div>
        <div class="part-of-footer"><p><img class="tel" src="../../resources/pictures/life.png"> +375 25 128-64-32</p></div>
    </nav>
</footer>
</body>
</html>