<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="../../resources/pictures/logo.png" type="image/png">
    <link rel="stylesheet" href="../../resources/css/commonDesign.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header th:fragment="header" class="header-part">
    <img class="logo" src="../../resources/pictures/logo.png">
    <div class="name-of-logo"><h1>Flight</h1><p>улетайте с нами</p></div>
    <div class="part of menu"><a class="part-of-menu" href="registration.html">Регистрация</a></div>
    <div class="part of menu"><a class="part-of-menu" href="login.html">Войти</a></div>
</header>
</body>
</html>